.form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgb(219, 231, 216);
    padding: 20px;
    border: 1px solid gray;
    border-radius:1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .button {
    background: rgb(231, 195, 167);
    padding: 0.25rem 1.2rem; /* Ajusta el padding según tu preferencia */
    font-size: 1.2rem; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
    color: rgb(7, 69, 27);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, box-shadow 0.2s;
  }
  
  .button:hover {
    background: rgb(211, 175, 147); /* Cambia el color en hover */
  }
  
  .button:active {
    transform: translateY(2px); /* Efecto de hundimiento en click */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra ligera en click */
  }
  